root = true

[*]
charset = utf-8
end_of_line = unset
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.{kt,md,cs,py,java,swift,puml,js}]
end_of_line = lf

[*.{kt,md,cs,py,java,swift}]
indent_size = 4

[*.{pu,puml,js,jsx,ts,tsx}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_size = 2

[*.kt]
insert_final_newline = false
max_line_legth = 100

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Powershell files
[*.ps1]
indent_size = 2

# Shell script files
[*.sh]
end_of_line = lf
indent_size = 2
